@import "abstracts/variables"


.wrapper
  margin-left: 15%
  margin-right: 15%

html, body
  font-size: $font-size-base
  line-height: $line-weight-base
  font-family: $font-family-primary

a
  display: block
  padding: $gutter/2

ul
  list-style: none
  padding-left: $gutter

.header
  background-color: $color-primary
  height: 50px

.title
  margin-left: $gutter

