@charset "UTF-8";
.wrapper {
  margin-left: 15%;
  margin-right: 15%; }

html, body {
  font-size: 14px;
  line-height: 1.1;
  font-family: "Noto Sans", "Roboto", Ubuntu, Arial, serif; }

a {
  display: block;
  padding: 5px; }

ul {
  list-style: none;
  padding-left: 10px; }

.header {
  background-color: #2b4391;
  height: 50px; }

.title {
  margin-left: 10px; }

.btn {
  padding: 5px 10px;
  font-size: 14px; }
  .btn-primary {
    background: #2b4391;
    border-radius: 5px; }
  .btn--light {
    background: #efefef;
    transition: 0.2s ease-in-out; }
    .btn--light:hover {
      background: #2b4391;
      color: white; }
  .btn__action {
    float: right; }

.label__header {
  color: white; }
.label__image_label {
  padding: 5px; }
.label__menu a {
  text-decoration: none;
  color: black; }
  .label__menu a:hover {
    background: ghostwhite; }

.searchbox {
  width: 300px;
  height: 20px;
  font-size: 14px; }

.img__shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  transition: box-shadow 200ms ease-in-out; }
  .img__shadow:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8); }

.form_group {
  margin-bottom: 10px; }
  .form_group.error .form_control {
    border-color: #f2001e;
    color: #f2001e; }

.control_label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px; }

.form_control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 14px;
  height: 34px;
  padding: 10px 10px;
  line-height: -2.4285714286;
  color: #000;
  background-color: #2b4391;
  background-image: none;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  transition: box-shadow 200ms ease-in-out; }
  .form_control.error {
    border-color: #f2001e;
    color: #f2001e; }
  .form_control:focus {
    outline: none;
    border: 1px solid #2b4391;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6); }

.container {
  margin: 10px; }
  .container__left_border {
    border-left: 1px solid #2b4391; }
  .container__header {
    display: inline-block; }
  .container__image {
    position: relative; }
  .container__images--horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .container__images__delete {
    position: absolute;
    top: 0px;
    left: -4px; }

.s_column {
  float: left;
  width: 25%; }

.s_row:after {
  content: "";
  display: table;
  clear: both; }

/*-----------------------------------*\
 *
 *  $TOAST-GRID
 *
 *  An insane grid.
 *  You'd be mad to use it.
 *
 *  Usage
 *  =====
 *
 *  Assuming default values:
 *
 *  <div class="grid">
 *    <div class="grid__col grid__col--1-of-2">
 *      A half-width column.
 *    </div>
 *    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
 *      A quarter, pulled left by its own width. You get this, right?
 *    </div>
 *  </div>
 *
 *
 *  Customisation
 *  =============
 *
 *  $toast-grid-namespace and $toast-grid-column-namespace
 *  adjusts the class names for the grid. With
 *  default values, grid wrappers have a class
 *  of '.grid' and columns '.grid__col'.
 *
 *  $toast-col-groups(n) adjusts column divisions.
 *  For example, $toast-col-groups(12) will produce
 *  a 12-column grid. $col-groups(3,6,8)
 *  will produce a 3-, 6-, and 8-column grid.
 *
 *  $toast-gutter-width is—you guessed it—the gutter
 *  width. Accepts any unit.
 *
 *  That's it. Have fun.
 *
 *\*----------------------------------- */
.row {
  list-style: none;
  margin-left: -5px;
  margin-right: -5px; }

.col--4-of-4, .col--12-of-12 {
  width: 100%; }

.col--2-of-4, .col--6-of-12 {
  width: 50%; }

.col--8-of-12 {
  width: 66.6666666667%; }

.col--1-of-4, .col--3-of-12 {
  width: 25%; }

.col--3-of-4, .col--9-of-12 {
  width: 75%; }

.col--1-of-12 {
  width: 8.3333333333%; }

.col--2-of-12 {
  width: 16.6666666667%; }

.col--4-of-12 {
  width: 33.3333333333%; }

.col--5-of-12 {
  width: 41.6666666667%; }

.col--7-of-12 {
  width: 58.3333333333%; }

.col--10-of-12 {
  width: 83.3333333333%; }

.col--11-of-12 {
  width: 91.6666666667%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top; }
  @media (max-width: 1340px) {
    .col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 1340px) and (min-width: 800px) {
    .col[class*="col--m-"] {
      display: inline-block;
      margin-right: -0.24em; }
    .col.col--m-1-of-2, .col.col--m-2-of-4 {
      width: 50%; }
    .col.col--m-1-of-3 {
      width: 33.3%; }
    .col.col--m-2-of-3 {
      width: 66.6666666667%; }
    .col.col--m-1-of-4 {
      width: 25%; }
    .col.col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 800px) and (min-width: 420px) {
    .col[class*="col--s-"] {
      display: inline-block;
      margin-right: -0.24em; }
    .col.col--s-1-of-2, .col.col--s-2-of-4 {
      width: 50%; }
    .col.col--s-1-of-3 {
      width: 33.3%; }
    .col.col--s-2-of-3 {
      width: 66.6666666667%; }
    .col.col--s-1-of-4 {
      width: 25%; }
    .col.col--s-3-of-4 {
      width: 75%; } }

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col--d-first {
  float: left; }

.col--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .col {
    padding-left: 0; }
  .row--no-gutter .col--span-all {
    margin-left: 0;
    width: 100%; }

.col--ab {
  vertical-align: bottom; }

.col--am {
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
