@import '../abstracts/variables'

.btn
  padding: $gutter/2 $gutter
  font-size: $font-size-base

  &-primary
    background: $color-primary
    border-radius: $gutter/2
  &--light
    background: $color-background-light
    transition: .2s ease-in-out
    &:hover
      background: $color-primary
      color: white
  &__action
    float: right


