@import ../abstracts/variables


.form_group
  margin-bottom: $gutter
  &.error .form_control
    border-color: $color-error
    color: $color-error

.control_label
  display: block
  font-weight: 500
  margin-bottom: $gutter/2

.form_control
  box-sizing: border-box
  display: block
  width: 100%
  font-size: $em
  height: $input-height-base
  padding: $gutter $gutter
  line-height: ($input-height-base - 2*$input-height-base)/14px
  color: $color-text
  background-color: $color-primary
  background-image: none
  border: 1px solid $color-background-light
  border-radius: $gutter
  box-shadow: $box_shadow-default
  transition: box-shadow 200ms ease-in-out
  &.error
    border-color: $color-error
    color: $color-error
  //+placeholder
  //&[disabled],
  //&[readonly]
  //  //background-color: $color-frame
  //  cursor: $cursor-disabled
  //  +opacity(1)
  &:focus
    outline: none
    border: 1px solid $color-primary
    box-shadow: $box_shadow-default


