@import "../abstracts/variables"

.searchbox
  width: $gutter*30
  height: $gutter*2
  font-size: $font-size-base


.img__shadow
  box-shadow: $box_shadow-default
  transition: box-shadow 200ms ease-in-out
  &:hover
    box-shadow: $box_shadow-big