@import "../abstracts/variables"

.label
  &__header
    color: white

  &__image_label
    padding: $gutter/2

  &__menu
    //padding: $gutter

    a
      text-decoration: none
      color: black
      &:hover
        background: ghostwhite
