{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block titile %}{% endblock %}</title>
        {#        <link rel="stylesheet" href="{% static 'css/vendors/bootstrap.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">

        </script>

    </head>
{% endblock %}
<body>
<div class="wrapper">
    <div class="header">
        {% block header %}{% include 'header.html' %}{% endblock %}
    </div>
    <div class="row container">
        <div class="col col--3-of-12">
            <div class="menu">
                {% block menu %}{% include 'menu.html' %}{% endblock %}
            </div>
        </div>
        <div class="col col--9-of-12">
            <div class="content">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block modals %}{% endblock %}
    <div id="footer" class="footer">
        {% block footer %}{% endblock %}
    </div>



</div>

{#<script src="{% static 'js/bootstrap.js' %}"></script>#}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
<script src="{% static 'js/app.js' %}"></script>
<link
</body>
</html>