<form id='searchform' method="get" action="{% url 'search' %}" style="align-self: center">
    <div class="container container__header">
        <input class="searchbox" name='query' type="text" placeholder="Поиск по имени, дате, описанию">
        <button id="searchbtn" class="btn btn-primary btn--light">Поиск</button>
    </div>
{#    <div class="btn__action">#}
{#        <button class="btn btn-primary btn--light">+</button>#}
{#    </div>#}

</form>

