<div>
    <ul>
        <li>
            <label class="label__menu">
                <a href="{% url 'home'%}">Главная</a>
            </label>
        </li>
        <li>
            <label class="label__menu">
                <a href="{% url 'add'%}">Добавить изображение</a>
            </label>
        </li>
    </ul>
</div>