@import '../abstracts/variables'

.container
  margin: $gutter

  &__left_border
    border-left: 1px solid #2b4391
  &__header
    display: inline-block
  &__image
    position: relative
    //margin: $gutter

  &__images
    &--horizontal
      display: flex
      flex-wrap: wrap
      justify-content: space-between
    &__delete
      position: absolute
      top: 0px
      left: -4px


.s_column
  float: left
  width: 25%

.s_row
  &:after
    content: ""
    display: table
    clear: both