{% extends 'base.html' %}
{% load thumbnail %}

{% block main_content %}
    {#    <div class="container__left_border">#}
    {#        <h2 class="title">{{ title }}</h2>#}
    {#        <div class="row container__images--horizontal">#}
    {##}
    {#            {% for img in object_list %}#}
    {#                <div class="container">#}
    {#                    <div class="container__image">#}
    {#                        <div>#}
    {#                            <a href="{% url 'detail' img.id %}">#}
    {#                                {% thumbnail img.image "150x150" upscale=False quality=100 crop="center" padding="True" as im  %}#}
    {#                                    <img class='img__shadow' src="{{ im.url }}" alt="{{ item.name }}">#}
    {#                                {% endthumbnail %}#}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div>#}
    {#                            <label>{{ img.name }}</label>#}
    {#                        </div>#}
    {#                        <div class="container__images__delete">#}
    {#                            <button class="#}
    {#                            btn btn-primary btn--light container__images__delete js-delete-image#}
    {#                            " name="delete_image" data-icode="{{ img.id }}" id="delete_image_{{ img.id }}">X</button>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    </div>#}
        <h2 class="title">{{ title }}</h2>
        <div class="s_row">
            {% for img in object_list %}
                <div class="s_column container__image">
                    <div>
                        <a href="{% url 'detail' img.id %}">
                            {% thumbnail img.image "150x150" upscale=False quality=100 crop="center" padding="True" as im  %}
                                <img class='img__shadow' src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        </a>
                    </div>
                    <div class="label__image_label">
                        <label>{{ img.name }}</label>
                    </div>
                    <div class="container__images__delete">
                        <button class="
                btn btn-primary btn--light container__images__delete js-delete-image
                " name="delete_image" data-icode="{{ img.id }}" id="delete_image_{{ img.id }}">X</button>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}