{% extends 'base.html' %}

{% block main_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if add_flag %}
            <h2>Добавление картинки</h2>
            <p>{{ form.image.label }} {{ form.image }}</p>
        {% else %}
            <h2>Рекдактирование картинки</h2>
            {{ form.as_p }}
        {% endif %}

        <input class="btn btn-primary btn--light" type="submit" value="Сохранить">
    </form>
{% endblock %}